#myheader
{
	position: absolute;
	z-index:1000;
	top:7%;
	left:0px;
	height:21%;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #cbcbcb;
}
#myheader img{ 
	border-radius:50%;
	height: 100px;
    width: 100px;
	}
body{ 
	text-align:center;
} 

#username{
	text-align:center;
	font-size:24px;
	color:#98b4fe;
}

#order
{
	position: absolute;
	z-index:1000;
	top:28.5%;
	left:0px;
	height:15%;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #cbcbcb;
}

#order-left,#order-right
{
	height:100%;
	line-height:35px;
	vertical-align:middle;
	display:inline-block;
}

#order-left
{
	width:50%;
	text-align:left;
	height:40%;
	font-size:24px;
}

#order-right
{
	width:40%;
	text-align:right;
	height:40%;
	font-size:20px;
}

#order-type
{
	position: fixed;
	position: absolute;
	bottom: 0px;
	width:100%;
	height:60%;
	background: white;
	font-size: 0px
}

#order-type div
{
	display: inline-block;
	width: 20%;
	height: 100%;
	text-align: center;
	font-size: 2px;
	color:#5d5f6a;
}

#order-type div a
{
	text-decoration: none;
	font-size: 2px;
	color:#232326;
}

#order-type div a img
{
	width: 50%;
	height:50%;
	margin-top: 5%;
}

#list-content
{
	position: absolute;
	left:0px;
	top:44%;
	width:100%;
	height: 30%;
	overflow: auto;
}

#list
{
	left:0px;
	height:24%;
	width: 100%;
	background-color: white;
	border-bottom: 2px solid #cdcdcd;
}

#list-left,#list-right
{
	height:100%;
	line-height:35px;
	vertical-align:middle;
	display:inline-block;
}

#list-left
{
	width:40%;
	text-align:left;
	height:100%;
	font-size:16px;
}

#list-right
{
	width:50%;
	text-align:right;
	height:100%;
	font-size:12px;
	color:#c0c0c0;
}

.exit {
	position: absolute;
	left:0px;
	top:80%;
	width:100%;
	height: 8%;
}

.orange {
	font-size:25px;
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}