#tiles_insertTemplate({"template":"wcf/template.vm"})
#tiles_putAttribute({"name":"title", "value": "首页"})#end
#tiles_putAttribute({"name":"header"}) #parse("wcf/header.vm")
#end #tiles_putAttribute({"name":"body"})
<a href="/JavaEE/GoodsManage/showList">商品资料管理</a>
<br>
<a href="/JavaEE/CategoryManage/showList">商品品类管理</a>
<br>
<a href="/JavaEE/brandManage/showList">商品品牌管理</a>
<br>
<a href="/JavaEE/standManage/showList">商品上下架管理</a>
<br>
#end #tiles_putAttribute({"name":"footer"})
#parse("wcf/footer.vm") #end #end
